<%= stylesheet('fusor_ui/vendor-fusor') %>
<%= stylesheet('fusor_ui/fusor-demo') %>

<% title _("Fusor Installer") %>

<div id='ember-app'>
</div>

<script src="/assets/fusor_ui/vendor-fusor.js"></script>
<script src="/assets/fusor_ui/fusor-demo.js"></script>
