<%= stylesheet('vendor-fusor') %>
<%= stylesheet('fusor-demo') %>

<% title _("Fusor Installer") %>

<div id='ember-app'>
</div>

<script src="/assets/vendor-fusor.js"></script>
<script src="/assets/fusor-demo.js"></script>
