#ember-app {
  padding-top: 0px;  /*change to 40px when deploying, change to 0px when in ember-cli mode */
}

.pager{
    position:absolute;
    left:-50px;
}

@import "downstream/application";
@import "downstream/mixin";
@import "downstream/bootstrap_and_overrides";
@import "downstream/charts";
@import "downstream/colors";
@import "downstream/topbar";
@import "downstream/typography";
@import "downstream/wizard";
@import "katello-path-selector";
@import "custom";
