/* custom.scss */

.rhci-footer {
  padding: 20px 10px 10px 10px;
  height: 60px;
}

.rhci-footer-selected{
  background-color: #eee; /*#5cb85c*/
  vertical-align: middle;
}

.rhci-footer-unselected{
  background-color:#eee;
}

.rhci-footer-box {
  height: 100px;
}

.rhci-footer-hover {
    padding:15px 5px;
    text-align: center;
    background-color: rgb(85, 77, 77); /*#d9edf7;*/
    color: #fff; /* #31708f;*/
    font-size:130%;
}

i.fa-check {
  color: #0099d3;
}

.rhci-install-footer {
  color: #0099d3;
  font-size: 130%;
}

.rhci-item {
  background-color:#eee;
}

.rhci-item-selected {
  border-bottom: solid 6px #0099d3;
}

.subscriptions_needed {
  padding: 10px;
  border: solid 3px #ddd;
}

.subscriptions_needed p {
  padding-top: 10px;
  padding-left: 12px;
}

.rhci-item-text {
  padding:10px;
}

.highlight {
  background-color: yellow !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}
.blue {
  background-color: #428bca !important;
}

.checkmark {
  font-size:150%;
  text-align:center;
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
}

td a.active {
  font-weight:bold;
  font-size:120%;
  background-color:#eee;
}

/* ACTIVE */
ul.path-list {
  margin:0px;
  padding:0px;
}
label.env_path_active {
  background: #00a8d6 !important;
  color:#fff !important;
}
label.env_path_active:after {
  border-left: 15px solid #00a8d6 !important;
}

label.env_path_disabled {
  background: #999 !important;
  color:#fff !important;
}
label.env_path_disabled:after {
  border-left: 15px solid #999 !important;
}

.green-circle {
  color: green;
}

.errorForValidation {
  color: #a94442;
}

.errorForValidation a {
  color: #a94442;
}

.defaultValue {
  color: #999;
}

.defaultValue a {
  color: #999;
}

.deployment_name {
  display: inline;
}

.gray .grey {
  background-color: #ddd !important;
}

.progress-bar-label {
  font-weight: bold;
}

.no-bold {
  font-weight: normal !important;
}

.bold {
  font-weight: bold !important;
}

th {
  padding-left: 10px;
}

.default_org_view {
  border: 1px solid #d7d7d7;
  padding: 10px;
  display: inline-block;
}

.center {
  text-align: center;
}

.white-on-blue {
  background: #00a8d6;
  color:#fff;
}

.black-font {
  color:#000 !important;
}

.white-font {
  color:#fff !important;
}

li.disabled a {
  color: #999 !important;
}


/* WIZARD stuff */

.wizard-block {
  display: inline-block;
}

.wizard-line {
  border-top: solid 3px #ddd;
  margin-top:15px;
}

/*.white-wizard-line {
  border-top: solid 3px red;
  margin-bottom:-18px;
  z-index: 114000;
}
*/
.wizard-item {
  font-weight: bold;
  font-size: 110%;
  color: #555;
}

.deployment-wizard li {
  padding: 7px 7px 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  display: inline-block;
}

.deployment-wizard li.disabled {
  color: #ddd !important;
}

.deployment-wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}
.deployment-wizard a:first-child .badge {
  margin-left: 0;
}
.deployment-wizard .active {
  color: #007ACC !important;
}

.deployment-wizard .active > .full-circle {
  background-color: #007ACC !important;
}

.full-circle {
 background-color: #999;
 height: 8px;
 -moz-border-radius:4px;
 -webkit-border-radius: 4px;
 width: 8px;
 margin-top: -41px;
}

.disable-circle {
  background-color: #ddd !important;
}

.disabled-color {
  color: gray   !important;
}

.tabbed_side_nav_form {
  .tab-content {
    min-height: 600px;
    border-left: 1px solid #999;
    background: #fff;
    /*box-shadow: -3px 0px 4px -3px rgba(50, 50, 50, 0.75);*/
  }
}

.green-circle {
  color: green;
 }

.errorForValidation {
  color: red;
}

.rhev-hostname {
  width: 20%;
}

.rhev-memory {
  width: 8%;
}

.rhev-disks {
  width: 7%;
}

.rhev-cpu {
  width: 7%;
}

.rhev-diskspace {
  width: 8%;
}

.rhev-network {
  width: 20%;
}

.rhev-select-all {
  padding: 0px 20px;
}

.prepend-host-names {
  padding: 0 2px 0 35px;
}

.org-radio-btn {
  width: 3%;
}

.accordion-item {
  padding-bottom: 10px;
}

.invalid-input {
  border:2px solid red;
}

/* override alert padding in Sat6 that is 34px */
.rhci-alert {
  padding-left: 15px !important;
}

li.disabled a {
  color: #ddd !important;
}

.input-units-label {
  padding-left: 0px !important;
  margin-left: -10px !important;
}

.form-label-nowrap {
  white-space:nowrap;
}

.deployment-checklist {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #eeeeee;
  min-width: 200px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 999;
}
@media (min-width: 1010px) {
  .deployment-checklist.affix {
    position: fixed;
    right: 20px;
    top: 10px;
  }
  .deployment-checklist.affix-top {
    position: absolute;
  }
}
.deployment-checklist #deployment-steps {
  padding-left: 31px;
  margin-top: -5px;
}
.deployment-checklist #deployment-steps .active {
  font-weight: 600;
}
.deployment-checklist #deployment-steps .complete {
  list-style: none;
  color: #555555;
}
.deployment-checklist #deployment-steps .complete:before {
  color: #3f9c35;
  content: '\f00c';
  font-family: "FontAwesome";
  left: -18px;
  position: absolute;
  top: 1px;
}
.deployment-checklist #deployment-steps li {
  margin-bottom: 5px;
  position: relative;
}
.deployment-checklist #deployment-steps ul {
  padding-left: 6px;
  padding-top: 5px;
}
.deployment-checklist .deployment-steps-status {
  font-weight: 600;
}
.deployment-checklist .deployment-steps-status a {
  color: #555555;
  padding-left: 14px;
  position: relative;
}
.deployment-checklist .deployment-steps-status a:before {
  border: 4px solid transparent;
  border-top-color: #555555;
  content: '';
  height: 0;
  left: 1px;
  position: absolute;
  top: 7px;
  width: 0;
}
.deployment-checklist .deployment-steps-status a.collapsed:before {
  border-left-color: #555555;
  border-top-color: transparent;
  left: 3px;
  top: 5px;
}
.deployment-checklist .deployment-steps-status a:focus,
.deployment-checklist .deployment-steps-status a:hover {
  color: #555555;
  text-decoration: none;
}
.deployment-checklist h2 {
  margin-top: 0;
}
.deployment-checklist-wrapper {
  clear: left;
  position: relative;
}
.deployment-roles {
  float: left;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
}
.deployment-roles.deployment-roles-unassigned {
  border: 2px dashed transparent;
  margin-left: -12px;
  padding-left: 12px;
  padding-top: 10px;
  display: inline-block;
}
.deployment-roles.deployment-roles-unassigned.deployment-roles-active {
  border-color: #7b7b7b;
}
.deployment-roles.deployment-roles-unassigned.deployment-roles-hover {
  border-color: #3b3b3b;
}
.deployment-roles li {
  background: #ffffff;
  border: 2px solid #bbbbbb;
  border-radius: 1px;
  float: left;
  margin: 0 10px 10px 0;
  min-width: 150px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
}
.deployment-roles li:before {
  background-image: linear-gradient(to bottom, #bbbbbb 60%, #ffffff 0%);
  background-position: left;
  background-repeat: repeat-y;
  background-size: 2px 5px;
  border: 4px solid #bbbbbb;
  bottom: 1px;
  content: '';
  left: 1px;
  position: absolute;
  top: 1px;
  width: 10px;
}
.deployment-roles .menu-item li:before {
  background-image: none;
  background-repeat: no-repeat;
  width: 10px;
}
.deployment-roles li:hover .role-option.edit {
  display: block;
}
.deployment-roles li.no-roles {
  background: transparent;
  border: 0;
  min-width: none;
  padding-left: 0;
  text-align: left;
}
.deployment-roles li.no-roles:before {
  display: none;
}
.deployment-roles li.role-assigned {
  float: none;
}
.deployment-roles li.role-assigned:hover .role-option {
  right: 5px;
}
.deployment-roles li.role-assigned:hover .role-option.delete {
  display: block;
}
.deployment-roles li.role-assigned:hover .role-option.edit {
  top: 15px;
}
.deployment-roles li.role-assigned .bootstrap-select {
  display: inline-block !important;
  margin-bottom: 4px;
  width: auto !important;
}
.deployment-roles li.role-assigned .deployment-role-label {
  color: #fff;
}
.deployment-roles li.role-assigned .role-option {
  color: #fff;
}
.deployment-roles li.role-assigned .role-option:hover {
  color: #e6e6e6;
}
.deployment-roles .role-block {
  border-color: #409d35;
}
.deployment-roles li.role-block:before {
  background-image: linear-gradient(to bottom, #409d35 60%, #ffffff 0%);
  border-color: #409d35;
}
.deployment-roles li.role-block.role-assigned {
  background: #92d400;
}
.deployment-roles .role-compute {
  border-color: #ea7a23;
}
.deployment-roles li.role-compute:before {
  background-image: linear-gradient(to bottom, #ea7a23 60%, #ffffff 0%);
  border-color: #ea7a23;
}
.deployment-roles li.role-compute.role-assigned {
  background: #f3a928;
}
.deployment-roles .role-controller {
  border-color: #0d6f9a;
}
.deployment-roles .role-controller:before {
  background-image: linear-gradient(to bottom, #0d6f9a 60%, #ffffff 0%);
  border-color: #0d6f9a;
}
.deployment-roles .role-controller.role-assigned {
  background: #1ba9df;
}
.deployment-roles .role-object {
  border-color: #a2030d;
}
.deployment-roles .role-hidden {
  visibility: hidden;
}
.deployment-roles li.role-object:before {
  background-image: linear-gradient(to bottom, #a2030d 60%, #ffffff 0%);
  border-color: #a2030d;
}
.deployment-roles li.role-object.role-assigned {
  background: #ec4853;
}
.deployment-roles li.role-target {
  border-style: dashed;
  margin: 0;
  margin-bottom: 10px;
}
.deployment-roles li.role-target:before {
  display: none;
}
.deployment-roles li.role-target.role-target-active {
  border-color: #7b7b7b;
}
.deployment-roles li.role-target.role-target-hover {
  border-color: #3b3b3b;
}
.deployment-roles li.role-target > a {
  display: block;
  text-align: center;
}
.deployment-roles li.role-unconfigured {
  background-color: #f8f8f8 !important;
  border-color: #d1d1d1 !important;
  color: #969696 !important;
  cursor: auto;
}
.deployment-roles li.role-unconfigured:before {
  display: none;
}
.deployment-roles li.ui-draggable:hover {
  cursor: move;
}
.deployment-roles li .bootstrap-select {
  display: none !important;
}
.deployment-roles li .pficon-help {
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 10px;
}
.deployment-roles li .pficon-help:hover {
  color: #555555;
}
.deployment-roles li .role-option {
  display: none;
  font-size: 14px;
  position: absolute;
  right: 10px;
}
.deployment-roles li .role-option.delete {
  top: -2px;
}
.deployment-roles li .role-option.edit {
  top: 4px;
}
.deployment-roles .draggable-object {
  padding: 0;
}
.deployment-roles-assigned .draggable-object {
  padding: 0;
  display: block;
}
.roles-menu-item {
  background: #ffffff;
  border: 2px solid #bbbbbb;
  border-radius: 1px;
  float: left;
  margin: 0 10px 10px 10px;
  min-width: 150px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
}
.nav-node-registration {
  float: right;
  margin: 0 0 -1px;
}
.nav-registered-nodes > li.active:after {
  border: 10px solid transparent;
  border-bottom-width: 20px;
  border-left-color: #00a8e1;
  border-right-width: 0;
  border-top-width: 20px;
  content: '';
  height: 0;
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
}
.nav-registered-nodes > li.active .fa-trash-o,
.nav-registered-nodes > li.active:hover {
  color: #fff;
}
.nav-registered-nodes > li > a {
  padding-right: 30px;
}
.nav-registered-nodes .fa-trash-o {
  color: #0099d3;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.nav-registered-nodes .fa-trash-o:hover {
  color: #00618a;
}
.node-profile.nodes-coalescing {
  color: #999999;
}
.node-profile.nodes-coalescing .node-profile-label {
  color: #999999;
}
.node-profile .h5 {
  margin-top: 0;
}
.node-profile .panel-heading .h5 {
  margin-bottom: 0;
}
.node-specs {
  width: auto;
}
.node-specs tbody > tr > td,
.node-specs thead > tr > td,
.node-specs tbody > tr > th,
.node-specs thead > tr > th {
  border-top: 0;
  padding: 0 10px 0 0;
}
.node-specs tbody > tr > th,
.node-specs thead > tr > th {
  padding-top: 1px;
}

.nodes-registered-count {
  margin: 0;
  padding: 5px 0 0;
}

.nodes-add-button {
  margin: 0;
  padding: 3px 0 0;
}

.rhci-steps {
  color: #999999;
  font-size: 15px;
  float: left;
  list-style-position: inside;
  margin: 0 0 10px -20px;
  padding: 0;
  position: relative;
}
.rhci-steps li {
  float: left;
  margin: 0;
  padding: 30px 20px 0;
  position: relative;
}
.rhci-steps li:after {
  background: #d0d0d0;
  border-radius: 20px;
  content: '';
  height: 8px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 16px;
  width: 8px;
}
.rhci-steps li:before {
  border-top: 1px solid #d0d0d0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}
.rhci-steps li:last-child:before {
  width: 50%;
}
.rhci-steps li.active {
  color: #0099d3;
}
.rhci-steps li.active:after {
  background-color: #0099d3;
}
.rhci-steps li.completed {
  color: #555555;
}
.rhci-steps li.completed:after {
  background-color: #999999;
}
.rhci-steps-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
}
.rhci-steps-buttons .btn {
  margin-left: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-left {
  margin-right: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-right {
  margin-left: 5px;
}
.register-nodes-formset .tab-pane > h4 {
  margin-top: 5px;
}
.register-nodes-formset .tab-pane > h4 + .form-horizontal {
  margin-top: 20px;
}
.table-header-rotated {
  border-collapse: collapse;
}
.table-header-rotated td {
  border-left: 1px solid #d1d1d1;
  border-top: 0 !important;
  text-align: center;
  width: 30px;
}
.table-header-rotated th {
  border: 0 !important;
}
.table-header-rotated th[colspan] {
  text-align: center;
}
.table-header-rotated th.rotate {
  height: 70px;
  white-space: nowrap;
}
.ie8 .table-header-rotated th.rotate {
  height: auto;
  white-space: normal;
}
.table-header-rotated th.rotate > div {
  transform: translate(8px, 18px) rotate(-45deg);
  width: 30px;
}
.ie8 .table-header-rotated th.rotate > div {
  width: auto;
}
.table-header-rotated th.rotate > div span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.ie8 .table-header-rotated th.rotate > div span {
  width: auto;
}
.table-header-rotated th.row-header {
  font-weight: 500;
}
.table-header-rotated thead {
  background: none;
}
.title-bar .btn {
  margin-right: 10px;
  margin-top: 10px;
}
.title-bar .edit-config {
  margin-bottom: 10px;
}
.title-bar h1 {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .title-bar .btn {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 23px;
  }
  .title-bar .buttons {
    text-align: right;
  }
}
@media (min-width: 852px) {
  .title-bar .edit-config {
    margin-left: 15px;
    margin-top: 27px;
  }
  .title-bar h1 {
    display: inline-block;
  }
  .title-bar + .row hr {
    margin-top: 5px;
  }
}
.upload-nodes {
  border-bottom: 1px solid #e9e8e8;
  border-top: 1px solid #e9e8e8;
  clear: right;
  margin: 0 0 15px;
  padding: 15px 0 0;
}

.disabled {
  color: #ddd !important;
}

.no_subscriptions {
  text-align: center;
  padding: 10px 0px 5px;
}

.disabledImage {
  opacity: 0.5;
}

.ident-radio {
  padding-left: 15px;
}

.loading-spinner {
  display: inline-block;
  position: fixed;
  left: 40%;
  top: 40%;
}

.loading-spinner-content {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
}

.spinner-text {
  font-size: 20px;
}
