/* custom.scss */

$debug-color: gray;
$info-color: #333;
$warning-color: #ec7a08;
$error-color: #cc0000;

// ******************************
// Foreman style overrides - begin

// overriding foreman patternfly_and_overrides.scss .spinner {float: left;}
.spinner {
  float: none;
}

// overriding foreman patternfly_and_overrides.scss .form-control {padding-right: 30px;}
.form-control {
  padding-right: 6px;
}

//overriding foreman padding so gray goes to the left/right edges
#main {
  padding: 0;
}

#content {
  padding: 0;
}

//hiding foreman "common/searchbar" so gray goes to the top.
#content > .row:first-child {
  display: none;
}



// ******************************

.rhci-footer-box {
  height: 100px;
}

.rhci-footer-hover {
    padding:15px 5px;
    text-align: center;
    background-color: rgb(85, 77, 77); /*#d9edf7;*/
    color: #fff; /* #31708f;*/
    font-size:130%;
}

i.fa-check {
  color: #ffffff;
}

ul.req-list {
  padding: 0;
}

ul.req-list > li {
  cursor: initial;
  margin-left: 35px;
}

.rhci-start-block {
  padding-left: 15px;
}

.rhci-item {
  margin:1px;
  padding: 10px 10px 10px 10px;
}

.rhci-item-selected {
  background-color: #def3ff;
}

.product-item-checkbox {
  padding-top: 20px;
  border-right: 1px solid #ccc;
  height: 60px;
}

.product-item-name {
  font-size: 20px;
}

.product-item-tagline {
  font-size: 14px;
}

.req-block {
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 10px 20px;
  height:400px;
  overflow-x: visible;
  overflow-y: auto;
}

.req-section {
  margin-bottom: 15px;
}

.req-section > p {
  margin-bottom: 5px;
}

.req-title {
  font-size: 18px;
}

.next-start {
  float: right;
  margin-top: 30px;
}

.download-reqs {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #f5f5f5;
}


.subscriptions_needed {
  padding: 10px;
  border: solid 3px #ddd;
}

.subscriptions_needed p {
  padding-top: 10px;
  padding-left: 12px;
}

.rhci-item-text {
  padding:10px;
}

.highlight {
  background-color: yellow !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}
.blue {
  background-color: #428bca !important;
}

.blue-active {
  color: #0099d3 !important;
}

.checkmark {
  font-size:150%;
  text-align:center;
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
}

td a.active {
  font-weight:bold;
  font-size:120%;
  background-color:#eee;
}

/* ACTIVE */
ul.path-list {
  margin:0px;
  padding:0px;
}
label.env_path_active {
  background: #00a8d6 !important;
  color:#fff !important;
}
label.env_path_active:after {
  border-left: 15px solid #00a8d6 !important;
}

label.env_path_disabled {
  background: #999 !important;
  color:#fff !important;
}
label.env_path_disabled:after {
  border-left: 15px solid #999 !important;
}

.green-circle {
  color: green;
}

p.error.errorForValidation {
  margin-bottom: 0;
}

.errorForValidation {
  color: #a94442;
}

.errorForValidation a {
  color: #a94442;
}

.validation-alert-icon {
  float: left;
  margin-top: 5px;
}

p.validation-alert-message {
  margin-left: 48px;
}

ul.validation-alert-message {
  margin-left: 24px;
}

.warningForValidation, .warningForValidation a {
  color: $warning-color;
}

.node-count-review-link {
  padding-left: 15px;
}

.defaultValue {
  color: #999;
}

.defaultValue a {
  color: #999;
}

.deployment_name {
  display: inline;
}

.gray .grey {
  background-color: #ddd !important;
}

.progress-bar-label {
  font-weight: bold;
}

.log-selection-row {
  margin-top: 20px;
  margin-bottom: 12px;
}

.log-search-row {
  margin-bottom: 12px;
}

.log-file-select {
  height: 26px;
  display: inline;
}

.log-file-path {
  font-style: italic;
  padding-left: 5px;
}

.log-search-form .log-search-input-group > .btn:hover {
  color: #00618a;
}

.log-search-form .log-search-input-group .inside-log-search-input {
  background-color: white;
}

.log-search-form .log-search-input-group > .log-search-result-counter {
  position: absolute;
  right: 68px;
  top: 3px;
  color: gray;
}

.log-search-form .log-search-input-group > .btn-log-result-up {
  right: 46px;
  width: 16px;
  font-size: 20px;
  top: 0;
}

.log-search-form .log-search-input-group > .btn-log-result-down {
  right: 28px;
  width: 18px;
  font-size: 20px;
  top: 0;
}

.log-output {
  margin-top: 6px;
  height: 500px;
  resize: both;
  overflow-y: scroll;
  border: 1px solid #d7d7d7;
}

.log-level-form > .checkbox {
  margin-left: 10px;
}

.log-entry {
  margin-top: 1px;
  margin-bottom: 1px;
}

.log-entry-level-debug {
  color: $debug-color
}

.log-entry-level-info {
  color: $info-color
}

.log-entry-level-warn {
  color: $warning-color;
}

.log-entry-level-error {
  color: $error-color;
}

.log-entry-search-result {
  background-color: #fbeabc;
  color: #333;
}

.log-entry-search-result.log-entry-search-selected {
  background-color: #f9d67a;
  color: #333;
  font-weight: bold;
}

.log-top-message {
  text-align: center;
  margin-top: 12px;
}

.log-bottom-message{
  text-align: center;
  margin-top: 36px;
}

.log-warning-icon {
  color: $warning-color;
}

.log-error-icon {
  color: $error-color;
}

.log-updating-spinner {
  margin-bottom: -7px;
}

.btn-nav-search-result {
  background: transparent;
  color: blue;
}

.no-bold {
  font-weight: normal !important;
}

.bold {
  font-weight: bold !important;
}

th {
  padding-left: 10px;
}

.default_org_view {
  border: 1px solid #d7d7d7;
  padding: 10px;
  display: inline-block;
}

.center {
  text-align: center;
}

.white-on-blue {
  background: #00a8d6;
  color:#fff;
}

.black-font {
  color:#000 !important;
}

.white-font {
  color:#fff !important;
}

li.disabled a {
  color: #999 !important;
}

.disabled {
  color: #999 !important;
}

.no_subscriptions {
  text-align: center;
  padding: 10px 0px 5px;
}

.disabledImage {
  opacity: 0.5;
}

.ident-radio {
  padding-left: 15px;
}

.spinner-text {
  font-size: 20px;
}

.rhev-searchbar {
  background-color: #f6f6f6;
  padding: 5px 0px;
  border-top: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  margin-right: 1px;
}

.rhev-search-box {
  margin-left: -15px;
}

.rhev-search-input {
  width: 200px !important;
}

.not-selected {
  font-style: italic;
  color: #555 !important;
}

.rhev-search-button {
  display:inline;
  margin-left:-3px;
}

table.fusor-table {
  table-layout: fixed;
}

.rhev-checkbox {
  width:34px;
}

.rhev-hostname {
  width: 20%;
}

.rhev-mac-address {
  width: 18%;
}

.rhev-host-type {
  width: 9%;
}

.rhev-memory {
  width: 8%;
}

.rhev-disks {
  width: 7%;
}

.rhev-cpu {
  width: 7%;
}

.rhev-diskspace {
  width: 8%;
}

.rhev-network {
  width: 20%;
}

.rhev-select-all {
  padding: 0px 20px;
}

.img-responsive.host-type-icon {
  margin-top: 3px;
}

.pficon.pficon-screen.host-type-icon {
  font-size: 16px;
  margin-top: 3px;
}

.org-radio-btn {
  width: 34px;
}

.accordion-item {
  padding-bottom: 10px;
}

.accordion-item-title {
  cursor: pointer;
}

.invalid-input {
  border:2px solid red;
}

/* override alert padding in Sat6 that is 34px */
.rhci-alert {
  padding-left: 15px !important;
  min-height: 48px;
}

.rhci-review-product-name {
  white-space: nowrap;
}

.loading-spinner {
  display: inline-block;
  position: fixed;
  left: 40%;
  top: 40%;
}

.loading-spinner-content {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
}

.scrollable-form {
  overflow: auto;
}

.rhci-popover-button {
  outline: none;
  color:#0099d3;
  background:none!important;
  border:none;
  padding:0!important;
  cursor: pointer;
}

.eye-icon {
  position: relative;
  top: -20px;
  float: right;
  padding-right: 10px;
}

.rhci-popover-button {
  outline: none;
  color:#0099d3;
  background:none!important;
  border:none;
  padding:0!important;
  cursor: pointer;
}

.new-deployment-button {
  float: right;
  margin-top: -33px;
}

.filter-deployments {
  margin-left: -18px;
}

.help-block {
  font-style: italic;
}

.osp-autogeneric-label {
  font-weight:normal !important;
  padding-left: 15px;
  margin-top: -4px;
}

.lifecycle-option-help {
  color: #737373;
  margin-left: 16px;
  margin-top: -9px;
}

.explanatory-text {
  color: #6d6e70;
  font-style: italic;
  font-weight: lighter;
}

.right-start-col {
  margin-left: -38px;
}

.rhci-item-desc {
  padding: 10px;
}

.rhci-product-image {
  height: 210px;
}

.button-selection {
  border: solid 1px #0099d3;
  background-color: #eee;
  color: #0099d3;
  text-align: center;
  display: inline-block;
  min-width: 30px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.button-disabled {
  border: solid 1px #6dd7ff;
  color: #6dd7ff;
  background-color: #f7f7f7;
  cursor: not-allowed;
}

.button-selection-selected {
  background-color: #0099d3;
  color: #fff;
}

.progress-bar-gray {
  background-color: #bbb !important;
}

.progress-bar-black {
  background-color: #000 !important;
  color: #fff;
}

.input-ose {
  width: 20px;
  text-align: center;
}

.ose-env-summary {
  margin-top: 30px;
  margin-left: 20px;
}

.node-details {
  margin-top: 30px;
  margin-left: 20px;
}

.env-summary-title {
  background-color: #eee;
  margin-left: 0px;
  padding: 10px 10px;
  border: solid 1px #000;
}

.env-summary-body {
  margin-left: 0px;
  padding: 10px 10px 0px 10px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}

.env-summary-progressbars {
  margin-left: 0px;
  padding: 10px 30px 10px 20px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
}

.node-details-body {
  margin-left: 0px;
  padding: 10px 30px 10px 20px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
}

.ose-help-msg {
  padding-left: 30px;
  font-style: italic;
}

.env-summary-needed-available {
  padding-bottom: 8px;
  padding-right: -15px;
}

.amt-needed {
  position: absolute;
  top: 0px;
  left: 7px;
  height: 20px;
}
.amt-available {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 20px;
}

.needed-available-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
}

.label-needed-available {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 20px;
}

.light-gray-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  background-color: #eee;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.node-details-col {
  padding-left: 10px;
}

h1.num-ose-node {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 36px;
}

.node-details-block {
  padding-left: 40px;
}

.ose-node-line {
  padding-top: 5px;
  min-height: 20px;
}

.btn-icon {
  color: #333;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  i.fa {
    font-size: 14px;
  }
}

.btn-icon.btn-icon-primary {
  color: #189ad1;
}

.content-mirror-status {
  margin-top: 5px;
  margin-left: 3px;

  .spinner {
    margin-left: 5px;
    width: 15px;
    height: 15px;
  }

  .valid-msg {
    color: green;
    font-weight: bold;
  }

  .invalid-msg {
    color: red;
    font-weight: bold;
  }
}

.content-error-container {
  .pre-err-header, .err-spinner {
    float: left
  }

  .pre-err-header {
    margin: 0 15px 0 0;
  }

  .err-spinner {
    margin-top: 2px;
  }

  a.repo-link {
    display: block;
  }
}

.navbar-outer {
  z-index: 1200 !important;
}

.navbar-inner {
  position: static;
  top: 0;
}

.invalid-rhev-hostname {
  color: #fff;
}

$ember-power-select-border-color: #bababa !default;
$ember-power-select-placeholder-color: #333333 !default;
$ember-power-select-line-height: 24px !default;
$ember-power-select-default-border-radius: 1px !default;

span.hanging-indent{
    display:block;
    text-indent: -1.6em;  /*this pulls the first line to the left*/
    padding-left: 1.6em;  /*this pushes the wrapped text to the right*/
}

.ident-library-label {
  padding-left: 16px;
}

.cfme-config-padding {
  padding-bottom: 16px;
}

.cancel-back-next {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cancel-button {
  margin-right: 10px;
}

.next-button {
  margin-left: -5px !important;
}
