/* custom.scss */

.rhci-footer {
  padding: 20px 10px 10px 10px;
  height: 60px;
}

.rhci-footer-selected{
  background-color: #eee; /*#5cb85c*/
  vertical-align: middle;
}

.rhci-footer-unselected{
  background-color:#eee;
}

.rhci-footer-box {
  height: 100px;
}

.rhci-footer-hover {
    padding:15px 5px;
    text-align: center;
    background-color: rgb(85, 77, 77); /*#d9edf7;*/
    color: #fff; /* #31708f;*/
    font-size:130%;
}

i.fa-check {
  color: #0099d3;
}

.rhci-install-footer {
  color: #0099d3;
  font-size: 130%;
}

.rhci-item {
  background-color:#eee;
}

.rhci-item-selected {
  border-bottom: solid 6px #0099d3;
}

.subscriptions_needed {
  padding: 10px;
  border: solid 3px #ddd;
}

.subscriptions_needed p {
  padding-top: 10px;
  padding-left: 12px;
}

.rhci-item-text {
  padding:10px;
}

.highlight {
  background-color: yellow !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}
.blue {
  background-color: #428bca !important;
}

.checkmark {
  font-size:150%;
  text-align:center;
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
}

td a.active {
  font-weight:bold;
  font-size:120%;
  background-color:#eee;
}

/* ACTIVE */
ul.path-list {
  margin:0px;
  padding:0px;
}
label.env_path_active {
  background: #00a8d6 !important;
  color:#fff !important;
}
label.env_path_active:after {
  border-left: 15px solid #00a8d6 !important;
}

.green-circle {
  color: green;
 }

.errorForValidation {
  color: red;
}

.errorForValidation a {
  color: red;
}

.defaultValue {
  color: #999;
}

.defaultValue a {
  color: #999;
}

.deployment_name {
  display: inline;
}

.gray .grey {
  background-color: #ddd !important;
}

.progress-bar-label {
  font-weight: bold;
}

.no-bold {
  font-weight: normal !important;
}

th {
  padding-left: 10px;
}

.default_org_view {
  border: 1px solid #d7d7d7;
  padding: 10px;
  display: inline-block;
}

.center {
  text-align: center;
}

.white-on-blue {
  background: #00a8d6;
  color:#fff;
}

.black-font {
  color:#000 !important;
}

li.disabled a {
  color: #ddd !important;
}

.disabled {
  color: #ddd !important;
}

.no_subscriptions {
  text-align: center;
  padding: 10px 0px 5px;
}

.disabledImage {
  opacity: 0.5;
}

.ident-radio {
  padding-left: 15px;
}

.spinner-text {
  font-size: 20px;
}