
.ose-select-dest-provider {
  margin-bottom: 24px;
}

.ose-deployment-details {
  margin-bottom: 30px;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  height: 240px;
}

.ose-deployment-details-title {
  background-color: #eee;
  margin-left: 0;
  padding: 10px 10px;
  border-bottom: solid 1px #000;
}

.ose-deployment-details-form {
  margin-top: 6px;
}

.ose-short-input {
  width: 60px;
  margin-right: 4px;
}

.ose-deployment-type-select {
  width:  auto;
}

.ose-env-summary {
  margin-bottom: 30px;
  border: solid 1px #000;
  height: 240px;
}

.ose-env-summary-title {
  background-color: #eee;
  margin-left: 0;
  padding: 10px 10px;
  border-bottom: solid 1px #000;
}

.ose-env-summary-body {
  margin-left: 0;
  padding: 24px 10px 0 10px;
}

.ose-env-summary-progressbars {
  margin-left: 0;
  padding: 10px 30px 10px 20px;
}

.ose-deployment-details-container, .ose-node-details-container {
  margin-top: 20px;
  padding-left: 20px;
}

.ose-node-details {
  margin-bottom: 30px;
  margin-right: 20px;
  padding-bottom: 20px;
  border: solid 1px #000;
  min-height: 230px;
}

.ose-node-details-title {
  background-color: #eee;
  margin-left: 0;
  padding: 10px 10px;
  height: 43px;
  border-bottom: solid 1px #000;
}

.ose-node-details-body {
  margin-left: 0;
  padding: 10px 30px 10px 20px;
}

.ose-help-msg {
  padding-left: 30px;
  font-style: italic;
}

.ose-env-summary-needed-available {
  padding-bottom: 8px;
  padding-right: -15px;
}

h1.num-ose-node {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 36px;
}

.ose-node-details-block {
  padding-left: 40px;
}

.ose-node-line {
  padding-top: 5px;
  min-height: 20px;
}

.ose-sample-apps, .new-node-form-specify {
  .rhci-popover-button {
    margin-left: 5px;
  }
  .popover {
    width: 200px;
  }
}


.ose-number-node-buttons {
  padding: 10px;
  margin-left: 20px;
}

.ose-custom-input {
  padding: 2px 0;
  width: 45px;
  height: 32px;
  text-align: center;
  color: #000;
  border: solid 2px #0099d3;
  display: inline-block;
}

.ose-node-label {
  font-weight: bold;
  padding-right: 8px;
}

.ose-number-buttons-block {
  padding: 8px 0;
}

.ose-custom-field {
  display: inline;
}
