/* wizard.scss */

.page-header-rhci {
  background: #fafafa;
  border-bottom-color: #d0d0d0;
  float: left;
  margin-bottom: -1px;
  margin-top: 0;
  width: 100%;
}

.rhci-steps {
  color: #999999;
  font-size: 15px;
  float: left;
  list-style-position: inside;
  margin: 0 0 10px -20px;
  padding: 0;
  position: relative;
  list-style-type: none;
}
.rhci-steps li {
  float: left;
  margin: 0;
  padding: 30px 20px 0;
  position: relative;
}
.rhci-steps li:after {
  background: #d0d0d0;
  border-radius: 20px;
  content: '';
  height: 8px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 16px;
  width: 8px;
}
.rhci-steps li:before {
  border-top: 1px solid #d0d0d0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}
.rhci-steps li:last-child:before {
  width: 50%;
}
.rhci-steps li.active {
  color: #0099d3 !important;
}
.rhci-steps li.active:after {
  background-color: #0099d3 !important;
}
.rhci-steps li.active a {
  color: #0099d3 !important;
}
.rhci-steps li.completed {
  color: #555555;
}
.rhci-steps li.completed:after {
  background-color: #999999;
}
.rhci-steps li.completed a {
  color: #555555;
  padding-top: 20px;
}
.rhci-steps li.completed a:hover {
  text-decoration: none;
}
.rhci-steps li.future a {
  color: #999999;
}
.rhci-steps-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
}
.rhci-steps-buttons .btn {
  margin-left: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-left {
  margin-right: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-right {
  margin-left: 5px;
}

.sidebar-header {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 11px;
  margin: 50px 0 20px;
}
.sidebar-header .actions {
  margin-top: -2px;
}
.sidebar-pf .sidebar-header + .list-group {
  border-top: 0;
  margin-top: -10px;
}
.sidebar-pf .sidebar-header + .list-group .list-group-item {
  background: transparent;
  border-color: #e9e9e9;
  padding-left: 0;
}
.sidebar-pf .sidebar-header + .list-group .list-group-item-heading {
  font-size: 12px;
}
.sidebar-pf .nav-category h2 {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 8px 0;
}
.sidebar-pf .nav-category + .nav-category {
  margin-top: 10px;
}
.sidebar-pf .nav-pills > li.active > a {
  background: #0099d3 !important;
  border-color: #0076b7 !important;
  color: #fff;
}
@media (min-width: 768px) {
  .sidebar-pf .nav-pills > li.active > a:after {
    content: "\f105";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    right: 10px;
    top: 1px;
  }
}
.sidebar-pf .nav-pills > li.active > a .fa {
  color: #fff;
}
.sidebar-pf .nav-pills > li > a {
  border-bottom: 1px solid transparent;
  border-radius: 0;
  border-top: 1px solid transparent;
  color: #333333;
  font-size: 13px;
  line-height: 21px;
  padding: 1px 20px;
}
.sidebar-pf .nav-pills > li > a:hover {
  background: #d4edfa;
  border-color: #b3d3e7;
}
.sidebar-pf .nav-pills > li > a .fa {
  color: #6a7079;
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 15px;
}
.sidebar-pf .nav-stacked {
  margin-left: -20px;
  margin-right: -20px;
}
.sidebar-pf .nav-stacked li + li {
  margin-top: 0;
}
.sidebar-pf .panel {
  background: transparent;
}
.sidebar-pf .panel-body {
  padding: 6px 20px;
}
.sidebar-pf .panel-body .nav-pills > li > a {
  padding-left: 37px;
}
.sidebar-pf .panel-heading {
  padding: 9px 20px;
}
.sidebar-pf .panel-title {
  font-size: 12px;
}
.sidebar-pf .panel-title > a:before {
  display: inline-block;
  margin-left: 1px;
  margin-right: 4px;
  width: 9px;
}
.sidebar-pf .panel-title > a.collapsed:before {
  margin-left: 3px;
  margin-right: 2px;
}
@media (min-width: 767px) {
  .sidebar-header-bleed-left {
    margin-left: -20px;
  }
  .sidebar-header-bleed-left > h2 {
    margin-left: 20px;
  }
  .sidebar-header-bleed-right {
    margin-right: -20px;
  }
  .sidebar-header-bleed-right .actions {
    margin-right: 20px;
  }
  .sidebar-header-bleed-right > h2 {
    margin-right: 20px;
  }
  .sidebar-header-bleed-right + .list-group {
    margin-right: -20px;
  }
  .sidebar-pf .panel-group .panel-default,
  .sidebar-pf .treeview {
    border-left: 0;
    border-right: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
  .sidebar-pf .treeview {
    margin-top: 5px;
  }
  .sidebar-pf .treeview .list-group-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sidebar-pf .treeview .list-group-item.node-selected:after {
    content: "\f105";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    right: 10px;
    top: 1px;
  }
}
@media (min-width: 768px) {
  .sidebar-pf {
    background: #fafafa;
  }
  .sidebar-pf.sidebar-pf-left {
    border-right: 1px solid #d0d0d0;
  }
  .sidebar-pf.sidebar-pf-right {
    border-left: 1px solid #d0d0d0;
  }
  .sidebar-pf > .nav-category,
  .sidebar-pf > .nav-stacked {
    margin-top: 5px;
  }
}

.rhci-steps  > li > a.active {
  text-decoration: none;
}

.sidebar-pf-right {
  padding-top: 20px;
}

.sidebar-pf .nav-stacked {
  margin-top: 0px;
}
