/* wizard.scss */

.rhci-parent-sidebar {
  display: webkit-box;
  display: webkit-flex;
  display: ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}

.rhci-steps {
  color: #999999;
  font-size: 15px;
  float: left;
  list-style-position: inside;
  margin: 0 0 10px -20px;
  padding: 0;
  position: relative;
}
.rhci-steps li {
  float: left;
  margin: 0;
  padding: 30px 20px 0;
  position: relative;
}
.rhci-steps li:after {
  background: #d0d0d0;
  border-radius: 20px;
  content: '';
  height: 8px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 16px;
  width: 8px;
}
.rhci-steps li:before {
  border-top: 1px solid #d0d0d0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}
.rhci-steps li:last-child:before {
  width: 50%;
}
.rhci-steps li.active {
  color: #0099d3;
}
.rhci-steps li.active:after {
  background-color: #0099d3;
}
.rhci-steps li.completed {
  color: #555555;
}
.rhci-steps li.completed:after {
  background-color: #999999;
}
.rhci-steps li.completed a {
  color: #555555;
  padding-top: 20px;
}
.rhci-steps li.completed a:hover {
  text-decoration: none;
}
.rhci-steps li.future a {
  color: #999999;
}
.rhci-steps-buttons {
  border-top: 1px solid #d0d0d0;
  text-align: right;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rhci-steps-buttons .btn {
  margin-left: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-left {
  margin-right: 5px;
}
.rhci-steps-buttons .btn > .fa-angle-right {
  margin-left: 5px;
}

.rhci-page {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-left: -2px;
}
.sidebar-pf-left {
  border: 1px solid #d0d0d0;
  background-color:  #f5f5f5;
}

.sidebar-pf .nav-stacked {
  margin-top: 0px;
}

.scrollable-form {
  overflow: auto;
}

.rhci-popover-button {
  outline: none;
  color:#0099d3;
  background:none!important;
  border:none;
  padding:0!important;
  cursor: pointer;
}
