.wizard-block {
  display: inline-block;
}

.wizard-line {
  border-top: solid 3px #ddd;
  margin-top:15px;
}

/*.white-wizard-line {
  border-top: solid 3px red;
  margin-bottom:-18px;
  z-index: 114000;
}
*/
.wizard-item {
  font-weight: bold;
  font-size: 110%;
  color: #555;
}

.wizard li {
  padding: 7px 7px 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  display: inline-block;
}

.wizard li.disabled {
  color: #ddd !important;
}

.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}
.wizard a:first-child .badge {
  margin-left: 0;
}
.wizard .active {
  color: #007ACC !important;
}

.wizard .active > .full-circle {
  background-color: #007ACC !important;
}

.full-circle {
 background-color: #999;
 height: 8px;
 -moz-border-radius:4px;
 -webkit-border-radius: 4px;
 width: 8px;
 margin-top: -41px;
}

.disable-circle {
  background-color: #ddd !important;
}

.tabbed_side_nav_form{
  .tab-content {
    min-height: 600px;
    border-left: 1px solid #999;
    background: #fff;
    /*box-shadow: -3px 0px 4px -3px rgba(50, 50, 50, 0.75);*/
  }
}
