{{text-f label="CFME Root password" type='password' value=cfme_root_password cssId='cfme_root_password' isRequired=true}}

<div class='pull-right'>
  <br />
  {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
  {{#link-to nextRouteNameAfterCFME class='btn btn-primary'}}Next{{/link-to}}
</div>