<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='alert alert-success'>
      INSTALLING: This is currently not hooked up to dynflow to track progress.<br />
    </div>

    {{!#if installationInProgress}}
<!--       Installing ({{!prog}}% complete) -->
      {{!bs-progress progressBinding="prog" type="success" stripped=true animated=true}}
    {{!/if}}

    <br />
    <br />

  </div>
</div>

{{outlet}}
