<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='alert alert-success'>
      INSTALLING: This is currently not hooked up to dynflow to track progress.<br />
    </div>

    <a {{bind-attr href=foremanTasksURL}}>
      <h4>Click here to view tasks for deployments for </h4>
      /{{foremanTasksURL}}
    </a>
    <br />
    <br />

  </div>
</div>

{{outlet}}
