<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      <h3>Red Hat Enterprise Virtualization (25% complete, 3 hours 15 minutes remaining)</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <div class='row'>
      <h3>Red Hat Enterprise Linux OpenStack Platform</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <div class='row'>
      <h3>Red Hat Enterprise Linux OpenStack Platform</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class='pull-right'>
      {{#link-to 'deployments' class='btn btn-primary' disabled=true}}Next{{/link-to}}
    </div>


  </div>
</div>

{{outlet}}
