<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='alert alert-success'>
      INSTALLING: This is currently not hooked up to dynflow to track progress.<br />
    </div>

    <a href="/foreman_tasks/tasks">Click here to view Tasks of deployment</a>

    <br />
    <br />

  </div>
</div>

{{outlet}}
