<div class="row">
  <div class='col-md-9'>
    <table class="table table-striped">
      <thead>
        <th>Product</th>
        <th>Action</th>
        <th>State</th>
        <th>Result</th>
        <th>Started at</th>
        <th>User</th>
        <th>Action</th>
      </thead>
      <tbody>
        {{!#each task in model.foreman_tasks}}
          {{tr-task task=model
                    selectedTask=selectedTask
                    action="chooseTask"}}
        {{!/each}}
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
