<ul class="nav nav-tabs col-md-12" data-tabs="pills">
    {{#link-to 'review.progress.details.task.index' tagName='li'}}
      <a>Task</a>
    {{/link-to}}
    <li>
      <a href='/katello/sync_management#!=' target='_blank'>Content Sync Status</a>
    </li>
    {{!#link-to 'review.progress.details.task.running_steps' tagName='li'}}
      <!-- <a>Running Steps</a> -->
    {{!/link-to}}
    {{!#link-to 'review.progress.details.task.task_errors' tagName='li'}}
      <!-- <a>Errors</a> -->
    {{!/link-to}}
    {{!#link-to 'review.progress.details.task.task_locks' tagName='li'}}
      <!-- <a>Locks</a> -->
    {{!/link-to}}
    {{!#link-to 'review.progress.details.task.task_raw' tagName='li'}}
      <!-- <a>Raw</a> -->
    {{!/link-to}}
</ul>
<div class="col-md-12">
    {{outlet}}
</div>
