<div class='row'>
  <div class='col-md-12'>
    <h3 {{action 'openItem'}}>
    <i {{bind-attr class=":fa isOpen:fa-angle-down:fa-angle-right"}}></i>
      &nbsp;{{name}}
    </h3>
    {{#if isOpen}}
      {{yield}}
    {{/if}}
  </div>
</div>
