<div class='row'>
  <div class='col-md-12'>
    <h4 {{action 'openItem'}}>
    <i {{bind-attr class=":fa :fa-play isOpen:fa-rotate-90"}}></i>
      {{name}}
    </h4>
    <div class='col-md-offset-1'>
      {{#if isOpen}}
        {{yield}}
      {{/if}}
    </div>
  </div>
</div>
