<div class='row'>
  <div class='col-md-12'>
    <h3 class="accordion-item-title" {{action 'openItem'}}>
    <i class="fa {{if isOpen 'fa-angle-down' 'fa-angle-right'}}"></i>
      &nbsp;{{name}}
    </h3>
    {{#if isOpen}}
      {{yield}}
    {{/if}}
  </div>
</div>
