{{#pf-modal-base idModal='cancelDeploymentModal'
                 openModal=openModal
                 title="Cancel RHCI Deployment"}}

      {{#pf-modal-body}}
          What would you like to do with this deployment?
      {{/pf-modal-body}}

      {{#pf-modal-footer}}
          <button {{action 'cancelAndDeleteDeployment'}} class="btn btn-default">
              Exit and Delete
          </button>
          <button {{action 'saveAndCancelDeployment'}} class="btn btn-default">
              Exit and Save
          </button>
          <button {{action 'closeModal'}} class="btn btn-primary">
              Continue Working
          </button>
      {{/pf-modal-footer}}

{{/pf-modal-base}}
