{{#text-f label="Content Mirror URL" value=cdnUrl disabled=false}}
  <div class="content-mirror-status">
    {{#if isVerifyingContentMirror}}
      <span>Verifying mirror...</span>
      <span class="spinner spinner-md spinner-inline"></span>
    {{else if isContentMirrorValid}}
        <span class="valid-msg">{{contentMirrorValidationMsg}}</span>
    {{else}}
        <span class="invalid-msg">{{contentMirrorValidationMsg}}</span>
    {{/if}}
  </div>
{{/text-f}}
