{{#pf-modal-base idModal='continueDeploymentModal'
                 openModal=openModal
                 title=title}}

      {{#pf-modal-body}}

        Are you sure that you want to deploy {{deployment.name}}? There
        are warnings that were found that could cause problems during the
        deployment.

      {{/pf-modal-body}}

      {{#pf-modal-footer}}
          <button {{action 'cancelModal' deployment}} class="btn btn-default">
              No
          </button>
          <button {{action 'installDeployment' deployment}} class="btn btn-warning">
              Yes, Continue
          </button>
      {{/pf-modal-footer}}

{{/pf-modal-base}}
