{{#pf-modal-base idModal='deleteDeploymentModal'
                 openModal=openModal
                 title=title}}

      {{#pf-modal-body}}

        Are you sure that you want to delete this deployment - {{deployment.name}}?

      {{/pf-modal-body}}

      {{#pf-modal-footer}}
          <button {{action 'cancelModal' deployment}} class="btn btn-default">
              No
          </button>
          <button {{action 'deleteDeployment' deployment}} class="btn btn-primary">
              Yes, Delete Deployment
          </button>
      {{/pf-modal-footer}}

{{/pf-modal-base}}
