{{#em-modal configName="bs" id="globalErrorModal" open-if=openModal}}
  {{#em-modal-title}}
    <h4 class="modal-title">Error Occurred</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}
    {{errorMessage}}
  {{/em-modal-body}}

  {{#em-modal-footer}}
    <button class="btn btn-primary" {{action 'okay'}}>Okay</button>
  {{/em-modal-footer}}
{{/em-modal}}
