{{#if errorMsg}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-times-circle-o errorForValidation"></i>
          &nbsp;
          {{errorMsg}}

          <div class='pull-right'>
            X
          </div>
      </div>

    </div>
  </div>
{{/if}}
