<div class="modal fade error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error Occurred</h4>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action 'okay'}}>Okay</button>
      </div>
    </div>
  </div>
</div>
