{{#if show}}
    <div class="loading-spinner modal fade in">
        <div class="modal-body">
            <div class="loading-spinner-content modal-content">
                <span class="spinner spinner-xs spinner-inline"></span>
                <span>{{text}}</span>
            </div>
        </div>
    </div>
{{/if}}
