{{#if show}}
    <div class="modal fade in" style="display:block">
        <div class="modal-dialog loading-spinner">
            <div class="loading-spinner-content modal-content">
                <span class="spinner spinner-xs spinner-inline"></span>
                <span>{{text}}</span>
            </div>
        </div>
    </div>
{{/if}}
