<span {{bind-attr id=cssId}}>
  <img {{bind-attr src=srcImage}} {{bind-attr class=":img-responsive isDisabled:disabledImage"}}>

  <div {{bind-attr class=":rhci-footer isChecked:rhci-footer-selected:rhci-footer-unselected"}}>
       <span class='rhci-install-footer'>
         {{#if isChecked}}
           <i class="fa fa-1x fa-check"></i>
           Deploy this product
         {{/if}}
       </span>
  </div>
</span>