{{#base-f label=label labelSize=labelSize inputSize=inputSize unitsSize=unitsSize unitsLabel=unitsLabel isRequired=isRequired helpText=helpText errors=errors hasError=hasError}}

  {{#x-select value=value class="form-control" disabled=disabled id=cssId}}
    {{#each content as |opt| }}
      {{#x-option value=opt.value}}{{opt.label}}{{/x-option}}
    {{/each}}
  {{/x-select}}

  {{#if showValidationError}}
    {{#if hasError}}
      {{#each validationMessages as |message|}}
        <p class="error errorForValidation">{{message}}</p>
      {{/each}}
    {{/if}}
  {{/if}}

  {{yield}}

{{/base-f}}
