<a class="dropdown-toggle" data-toggle="dropdown">{{nameRHCI}} Installer<span class="caret"></span></a>

<ul class="dropdown-menu">
  <li>{{#link-to 'deployments'}}All Deployments{{/link-to}}</li>
  <li>{{#link-to 'rhci'}}New {{nameRHCI}} Deployment{{/link-to}}</li>
</ul>
