<td>
    {{radio-button value=managementApp.uuid groupValue=consumerUUID changed="changeManagementApp" id=org.id}}
</td>
<td>
    {{managementApp.name}}
</td>
<td class='text-center'>
    {{managementApp.entitlementCount}}
</td>
<td>
    {{managementApp.uuid}}
</td>
