<td>
   {{radio-button value=managementApp.id groupValue=consumerUUID changed="changeManagementApp" id=org.id disabled=disabled}}
</td>
<td>
    {{managementApp.name}}
</td>
<td class='text-center'>
    {{managementApp.entitlementCount}}
</td>
<td>
    {{managementApp.id}}

    {{!#link-to 'pools' managementApp.id}}pools{{!/link-to}}
    {{!#link-to 'subscriptions.management-application.consumer.entitlements' managementApp.id}}entitlements{{!/link-to}}

</td>
