<td>
   {{radio-button value=managementApp.id groupValue=consumerUUID changed="changeManagementApp" id=org.id disabled=disabled dataQci=dataQci}}
</td>
<td>
    {{managementApp.name}}
</td>
<td class='text-center'>
    {{managementApp.entitlementCount}}
</td>
<td>
    {{managementApp.id}}
</td>
