<td>
  {{input type="checkbox" checked=true disabled=true}}
</td>
<td> {{subscription.product_name}} </td>
<td> {{subscription.contract_number}} </td>
<td class="text-center white-font">
     {{subscription.quantity_attached}}
</td>