{{#em-modal configName="bs" id="cancelDeploymentModal" close-if=closeModal}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Cancel RHCI Deployment - {{parentController.name}} </h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        Are you sure that you want to cancel this deployment?
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" {{action 'cancelAndDeleteDeployment'}} class="btn btn-default">
          Yes, Exit and Delete Deployment
        </button>
        <button type="submit" {{action 'saveAndCancelDeployment'}} class="btn btn-default">
          Yes, Save Deployment and Exit
        </button>
        {{#em-modal-toggler class="btn btn-primary"}}
          No, Continue Working on This Deployment
        {{/em-modal-toggler}}
    {{/em-modal-footer}}
    {{isNew}}
{{/em-modal}}