{{#em-modal configName="bs" id="cancelDeploymentModal" open-if=openModal}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Cancel QCI Deployment - {{deploymentName}} </h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        What would you like to do with this deployment?
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" {{action 'cancelAndDeleteDeployment'}} class="btn btn-default">
          Exit and Delete
        </button>
        <button type="submit" {{action 'saveAndCancelDeployment'}} class="btn btn-default">
          Exit and Save
        </button>
        {{#em-modal-toggler class="btn btn-primary"}}
          Continue Working
        {{/em-modal-toggler}}
    {{/em-modal-footer}}
{{/em-modal}}
