<div class="row tabbed_side_nav_form">

  <ul class="nav nav-pills nav-stacked col-md-3">

      {{#link-to 'where-install' tagName='li'}}
        <a>Where to Install</a>
      {{/link-to}}
  </ul>

  <div class="tab-content col-md-9">
      {{outlet}}
  </div>

</div>

