<br />
{{#if showAlertMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-success'>
          <i class="fa fa-2x fa-check-circle-o green-circle"></i>
          &nbsp;
          {{selectedOrganization.name}} added successfully.
      </div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class='col-md-5'>
    <p>
      Choose an organization for this deployment. Organizations divide hosts into logical groups based on ownership, purpose, content, security level, or other divisions.
    </p>
  </div>
  <div class='col-md-4'>
    <div class='pull-right'>
       <button class='btn btn-default' {{action 'showModal' 'newOrganizationModal'}}>New Organization</button>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class='col-md-9'>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        {{#each org in organizations}}
          {{tr-organization org=org
                            selectedOrganization=selectedOrganization
                            action="selectOrganization"}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class='col-md-9'>
    <div class='pull-right'>
        {{#link-to satelliteTabRouteName class='btn btn-default'}}
          Back
        {{/link-to}}
        {{#link-to lifecycleEnvironmentTabRouteName
                   disabled=disableNextOnConfigureOrganization
                   class='btn btn-primary'}}
            Next
        {{/link-to}}
    </div>
  </div>
</div>

{{#bs-modal name="newOrganizationModal" fade=true footerButtonsBinding="rhciModalButtons" title="New Organization"}}
  {{partial 'new-organization'}}
{{/bs-modal}}
