<div class="row">
  <div class='col-md-9'>

    <div style='text-align:right;margin-top:15px;'>
      <button class='btn btn-success' {{action 'showModal' 'newEnvironmentModal'}}>
        Add Environment Path
      </button>
    </div>

    {{#each env in model itemController="lifecycle-environment"}}
    <div class="path-selector">
      <ul class="path-list">
        <li class="path-list-item">
          <label class="path-list-item-label">
            Library
          </label>
        </li>
        {{env-path-list-item env=env selectedEnvironment=selectedEnvironment}}
        <li class="path-list-item">
          <label class="path-list-item-label" style='color:gray;'>
            &nbsp;
          </label>
        </li>
      </ul>
    </div>
    {{/each}}

    <br />
    <br />
    <div style='float:right'>
      {{#link-to 'configure-organization' class='btn btn-default'}}Back{{/link-to}}
      {{#link-to 'rhev' class='btn btn-primary' disabled=disable1CNext}}Next{{/link-to}}
    </div>

  </div>
</div>

{{#bs-modal name="newEnvironmentModal" fade=true footerButtonsBinding="rhciNewEnvButtons" title="Create New Environment"}}
  {{partial 'new-environment'}}
{{/bs-modal}}