{{#em-modal configName="bs" id="deleteDeploymentModal" open-if=isOpenModal close-if=isCloseModal}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Delete QCI Deployment - {{deploymentInModal.name}} </h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        Are you sure that you want to delete this deployment - {{deploymentInModal.name}}?
    {{/em-modal-body}}

    {{#em-modal-footer}}
        {{#em-modal-toggler class="btn btn-default"}}
          No
        {{/em-modal-toggler}}
        <button type="submit" {{action 'deleteDeployment' deploymentInModal}} class="btn btn-danger">Yes, Delete Deployment</button>

    {{/em-modal-footer}}
{{/em-modal}}
