{{!rhev_engine_host}}
{{!rhev_engine_host.id}}
{{!selectedRhevEngine}}
{{!selectedRhevEngine.name}}
{{!discovered_hosts.length}}
{{!discovered_hosts}}
{{#unless isHideWizard}}

  {{rhci-wizard name=name
                nameRHCI=nameRHCI
                nameSatellite=nameSatellite
                routeNameSatellite=routeNameSatellite
                nameRhev=nameRhev
                nameOpenStack=nameOpenStack
                nameCloudForms=nameCloudForms
                stepNumberRhev=stepNumberRhev
                stepNumberOpenstack=stepNumberOpenstack
                stepNumberCloudForms=stepNumberCloudForms
                stepNumberSubscriptions=stepNumberSubscriptions
                stepNumberReview=stepNumberReview
                isDisabledRhev=isDisabledRhev
                isDisabledOpenstack=isDisabledOpenstack
                isDisabledCloudForms=isDisabledCloudForms
                isDisabledSubscriptions=isDisabledSubscriptions
                isDisabledReview=isDisabledReview
                isRhev=isRhev
                isOpenStack=isOpenStack
                isCloudForms=isCloudForms
                isSubscriptions=isSubscriptions
                currentStepNumber=currentStepNumber
                }}
{{/unless}}

<div class="row parent-sidebar-pf">
 {{outlet}}
</div>
