{{!rhev_engine_host}}
{{!rhev_engine_host.id}}
{{!selectedRhevEngine}}
{{!selectedRhevEngine.name}}
{{!discovered_hosts.length}}
{{!discovered_hosts}}

{{#unless isHideWizard}}
  <br />
  <br />
  <h1 class='deployment_name'>New {{nameRHCI}} Deployment: <strong>{{name}}</strong></h1>
  {{#unless isNew}}
    &nbsp;
    {{#link-to 'deployment.start' this}}
        <i class="fa fa-2x fa-pencil"></i>
    {{/link-to}}
  {{/unless}}
  <br />
  <br />

  {{!partial 'debug-deployment'}}

  {{rhci-wizard nameSatellite=nameSatellite
                nameRhev=nameRhev
                nameOpenStack=nameOpenStack
                nameCloudForms=nameCloudForms
                stepNumberRhev=stepNumberRhev
                stepNumberOpenstack=stepNumberOpenstack
                stepNumberCloudForms=stepNumberCloudForms
                stepNumberSubscriptions=stepNumberSubscriptions
                stepNumberReview=stepNumberReview
                isDisabledRhev=isDisabledRhev
                isDisabledOpenstack=isDisabledOpenstack
                isDisabledCloudForms=isDisabledCloudForms
                isDisabledSubscriptions=isDisabledSubscriptions
                isDisabledReview=isDisabledReview
                isRhev=isRhev
                isOpenStack=isOpenStack
                isCloudForms=isCloudForms
                }}
{{/unless}}

{{outlet}}
