<div class="row">
  <div class='col-md-12'>

    <p>
      Select one or more target machines to be hypervisors.
    </p>

    <form class="form-inline">
      <div class="form-group">
        Host naming scheme &nbsp; {{view "select" content=namingOptions
                                                  value=host_naming_scheme
                                                  class='form-control'
                                                  disabled=controllers.deployment.isStarted}}

        {{#if isCustomScheme}}
          <span class='prepend-host-names'>
            Prepend host names with {{input type='text' value=custom_preprend_name
                                                        disabled=controllers.deployment.isStarted}}
          </span>
        {{/if}}
      </div>
    </form>

    <br />

    {{outlet}}
  </div>
</div>
