<div class="row">
  <div class='col-md-12'>

    <h4 style='padding-left:15px;'>Select one or more target machines to be hypervisors.</h4>

    <div class="col-md-12">
        {{outlet}}
    </div>
  </div>
</div>
