<div class="row">
  </div class='col-md-12'>

   <h4 style='padding-left:15px;'>Select Target Machines for {{controllers.rhev.hypervisorTabName}}:</h4>

   <br />
    <div class="col-md-12">
          {{outlet}}
    </div>
  </div>
</div>
