<h4>Networking Configuration</h4>

<div class='row'>
  <div class='col-md-12'>
    <br />
    <form class="form form-horizontal">

      {{text-f label="DNS name" value=dnsName}}

    </form>
  </div>
</div>