<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <p>Sample syntax for specifying nodes via CSV can be seen here:
      <a href="/assets/r/sample-nodes.csv" target="_blank">sample-nodes.csv</a></p>
    <form class="form-horizontal new-node-form-manual">
        <input id="csvUploadInput" class="csv-upload-input" value=selectedCSVFile type="file" accept=".csv" {{action "fileChosen" on="change"}}>
    </form>
  </div>
</div>
