<div class="row">
  <div class="col-xs-12">
    <p>Nodes are registered with OpenStack by connecting to their power management interfaces.
      In some environments, nodes can be auto-detected using those interfaces.
      Otherwise, you can upload a CSV file that includes node details, or manually provide those details for each node.</p>
    <p>Determine how to register nodes.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-11">

    <div class='radio'>
      <label>
        {{#radio-button value="auto_detect" groupValue=registerNodesMethod id="optionNewNodeMethodAuto" changed='nodeMethodChanged'}}{{/radio-button}}
        Auto-detection
      </label>
    </div>

    {{#if isNewNodeMethodAuto}}
      {{partial "new-node-registration-auto"}}
    {{/if}}

    <div class="radio">
      <label>
        {{#radio-button value="csv_upload" groupValue=registerNodesMethod id="optionNewNodeMethodCSV" changed='nodeMethodChanged'}}{{/radio-button}}
        Upload a CSV file
      </label>
    </div>

    {{#if isNewNodeMethodCSV}}
      {{partial "new-node-registration-csv"}}
    {{/if}}

    <div class="radio">
      <label>
        {{#radio-button value="manual" groupValue=registerNodesMethod id="optionNewNodeMethodManual" changed='nodeMethodChanged'}}{{/radio-button}}
        Manual entry
      </label>
    </div>

    {{#if isNewNodeMethodManual}}
      {{partial "new-node-registration-manual"}}
    {{/if}}

  </div>
</div>
