<form class="form form-horizontal">
  {{text-f label="Name" value=fields_env.name labelSize='col-md-4' inputSize='col-md-8'}}
  {{text-f label="Label" value=envLabelName labelSize='col-md-4' inputSize='col-md-8'}}
  {{textarea-f label="Description" value=fields_env.description labelSize='col-md-4' inputSize='col-md-8'}}
</form>
