<div class="row">
  <div class="col-xs-12">
    <p>Nodes are registered with OpenStack by connecting to their power management interfaces.
      In some environments, nodes can be auto-detected using those interfaces.
      Otherwise, you can upload a CSV file that includes node details, or manually provide those details for each node.</p>
    <h3>Determine how to register nodes.</h3>
  </div>
</div>
<div class="row">
    <div class='radio'>
      <label>
        {{#radio-button value="specify" groupValue=registerNodesRadio id="optionNewNodeMethodSpecify" dataQci="optionNewNodeMethodSpecify"}}{{/radio-button}}
        Auto-Detect or Specify Nodes
      </label>
    </div>

    {{#if isNewNodeMethodSpecify}}
      {{partial "new-node-registration-specify"}}
    {{/if}}

    <div class="radio">
      <label>
        {{#radio-button value="csv_upload" groupValue=registerNodesRadio id="optionNewNodeMethodCSV" dataQci="optionNewNodeMethodCSV"}}{{/radio-button}}
        Upload a CSV file
      </label>
    </div>

    {{#if isNewNodeMethodCSV}}
      {{partial "new-node-registration-csv"}}
    {{/if}}
</div>
