{{#em-modal-form configName="bs" id="newOrganizationModal" on-submit="createOrganization" in-async=async}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Create Organization</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
            {{text-f label="Organization Name" value=defaultOrgName labelSize='col-md-4' inputSize='col-md-8' }}
            {{!text-f label="Label" value=orgLabelName labelSize='col-md-4' inputSize='col-md-8'}}
            {{textarea-f label="Description (Optional)" value=fields_org.description labelSize='col-md-4' inputSize='col-md-8'}}
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}

{{/em-modal-form}}
