{{#wizard-step outlet=outlet minHeightStyle=minHeightStyle}}

      {{#link-to 'register-nodes' tagName='li'}}
        <a>{{stepNumberOpenstack}}A. Registering Nodes</a>
      {{/link-to}}

      {{#link-to 'assign-nodes' tagName='li'}}
        <a>{{stepNumberOpenstack}}B. Assigning Nodes</a>
      {{/link-to}}

{{/wizard-step}}