{{#wizard-step outlet=outlet}}

      {{#link-to 'openshift.openshift-nodes' tagName='li'}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenShift}}A. Master/Nodes
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'openshift.openshift-configuration' tagName='li' disabled=isInvalidOpenshiftNodes}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenShift}}B. Configuration
          </span>
        </a>
      {{/link-to}}

{{/wizard-step}}
