{{#wizard-step outlet=outlet}}

      {{#link-to 'undercloud-deploy' tagName='li'}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenstack}}A. Detect Undercloud
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'register-nodes' tagName='li' disabled=disableTabRegisterNodes}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenstack}}B. Register Nodes
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'assign-nodes' tagName='li' disabled=disableTabAssignNodes}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenstack}}C. Assign Nodes
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'openstack.overcloud' tagName='li' disabled=disableTabOvercloud}}
        <a>
          <span class="hanging-indent">
            {{stepNumberOpenstack}}D. Configure Overcloud
          </span>
        </a>
      {{/link-to}}

{{/wizard-step}}
