{{#wizard-step outlet=outlet}}

      {{#link-to 'undercloud-deploy' tagName='li'}}
        <a>{{stepNumberOpenstack}}A. Deploy Undercloud</a>
      {{/link-to}}

      {{#link-to 'register-nodes' tagName='li' disabled=disableTabRegisterNodes}}
        <a>{{stepNumberOpenstack}}B. Register Nodes</a>
      {{/link-to}}

      {{#link-to 'assign-nodes' tagName='li' disabled=disableTabAssignNodes}}
        <a>{{stepNumberOpenstack}}C. Assign Nodes</a>
      {{/link-to}}

{{/wizard-step}}