<div class='req-section'>

  <p class='req-title'>Red Hat Enterprise Virtualization</p>

  <ul class='req-list'>
    <li>2 hosts (1 for engine, 1 for hypervisor).
    Engine host requires 10 GB disk space, 2GB RAM, and 1 CPU.
    Hypervisor host requires 10 GB disk space, 12GB RAM, and 4 CPUs</li>
    <li>All host hardware clocks are synchronized with the hardware clock on the Satellite system</li>
    <li>NFS share. For both data domain and export domain: IP address and shared path</li>
  </ul>

</div>
