<div class='req-section'>

  <p class='req-title'>Disconnected network scenario</p>

  <p>If you are deploying into an environment that does not have external network access, these are additional requirements:</p>

  <ul class='req-list'>
    <li>URL to an alternate repository to download content from</li>
    <li><a href="https://access.redhat.com/solutions/118573" target="_blank">Subscription manifest</a></li>
  </ul>

</div>
