<div class='req-section'>

  <p class='req-title'>OpenShift Enterprise by Red Hat</p>

  <ul class='req-list'>
    <li>Requires Red Hat Virtualization to be selected to deploy OpenShift Enterprise</li>
    <li>NFS/GlusterFS share for persistent storage to be used with internal OpenShift registry</li>
    <li>All host hardware clocks are synchronized with the hardware clock on the Satellite system</li>
    <li>Hypervisor host minimum requirements: 18 GB RAM, 4 CPU</li>
    <li>Data domain NFS/GlusterFS share must have at least 60 GB free space</li>
    <li>Note: Requirements will change depending upon OpenShift configuration of master and worker nodes</li>
  </ul>

</div>
