<div class='req-section'>

  <p class='req-title'>Red Hat OpenStack Platform</p>

  <ul class='req-list'>
    <li>IP address to the undercloud that was set up according to the instructions found in Installing Red Hat Cloud Infrastructure</li>
    <li>2 nodes (1 controller, 1 compute). Each node requires 100GB disk space, 16GB RAM, and 4 CPUs</li>
    <li>All node hardware clocks are synchronized with the hardware clock on the Satellite system</li>
  </ul>

</div>
