<div class='req-section'>

  <p class='req-title'>Red Hat Virtualization</p>

  Engine + Hypervisor
  <ul class='req-list'>
    <li>2 hosts (1 for engine, 1 for hypervisor).
    Engine host requires 25 GB disk space, 4GB RAM, and 2 CPU.
    Hypervisor host requires 10 GB disk space, 16GB RAM, and 4 CPUs</li>
    <li>All host hardware clocks are synchronized with the hardware clock on the Satellite system</li>
    <li>NFS/GlusterFS share. For data domain: IP address and shared path</li>
  </ul>

  Self-hosted
  <ul class='req-list'>
    <li>1 host for hypervisor. Hypervisor host requires 70 GB disk space, 24GB RAM, and 4 CPUs</li>
    <li>All host hardware clocks are synchronized with the hardware clock on the Satellite system</li>
    <li>NFS/GlusterFS share. For data domain, and self-hosted domain: IP address and shared path</li>
  </ul>

</div>
