<div class='req-section'>

  <p class='req-title'>Red Hat OpenStack Platform</p>

  <ul class='req-list'>
    <li>IP address to the undercloud that was set up according to the instructions found in QuickStart Cloud Installer Installation Guide</li>
    <li>2 overcloud nodes (1 controller node with 100GB disk space, 32GB RAM, 4CPUs and 1 compute node with 100GB disk space, 16GB RAM, 4CPUs)</li>
    <li>All node hardware clocks are synchronized with the hardware clock on the Satellite system</li>
    <li>Refer to the <a href="https://access.redhat.com/documentation/en/red-hat-openstack-platform/8/director-installation-and-usage/appendix-b-power-management-drivers" target="_blank">Power Management Drivers</a> appendix in the <a href="https://access.redhat.com/documentation/en/red-hat-openstack-platform/8/director-installation-and-usage/director-installation-and-usage" target="_blank">Director Installation and Usage</a> manual for the current list of supported power management interfaces.</li>
  </ul>

</div>


