<div class='req-section'>

  <p class='req-title'>Red Hat CloudForms</p>

  <ul class='req-list'>
    <li>Hypervisor host requires at least an ADDITIONAL 8 GB RAM and 4 CPUs</li>
    <li>NFS/GlusterFS share. For export domain: IP address and shared path</li>
  </ul>

</div>
