<div class='req-section'>

  <p class='req-title'>General</p>

  <ul class='req-list'>
    <li>Red Hat Customer Portal username and password</li>
    <li><a href="https://access.redhat.com/management/subscriptions" target="_blank">Sufficient subscriptions</a> to complete this deployment</li>
    <li>Host machines are started and discoverable</li>
    <li>Networks and subsets are set up and available</li>
  </ul>

</div>
