{{#wizard-step outlet=outlet}}

      {{#link-to 'review.installation' tagName='li' disabled=disableTabInstallation}}
        <a>
          <span class="hanging-indent">
            {{stepNumberReview}}A. Installation Review
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'review.progress.overview' tagName='li' disabled=disableTabProgress}}
        <a>
          <span class="hanging-indent">
            {{stepNumberReview}}B. Installation Progress
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'review.summary' tagName='li' disabled=disableTabSummary}}
        <a>
          <span class="hanging-indent">
            {{stepNumberReview}}C. Installation Summary
          </span>
        </a>
      {{/link-to}}

{{/wizard-step}}
