<div class='row'>
  <div class='col-md-9'>
    Select the setup type.
  </div>
</div>

<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      <h3>
      {{#radio-button value="selfhost" groupValue=rhevSetup changed="rhevSetupChanged" id='selfhost'}}
        Self-hosted
      {{/radio-button}}
      </h3>
    </div>

    <div class='row'>
      <h3>
      {{#radio-button value="rhevhost" groupValue=rhevSetup changed="rhevSetupChanged" id='rhevhost'}}
        Hypervisor + engine
      {{/radio-button}}
      </h3>
    </div>

  </div>
</div>

<br />

{{cancel-back-next backRouteName='configure-environment'
                   disableBack=false
                   nextRouteName='engine.discovered-host'
                   disableNext=false}}

