{{#if disabled}}
  {{host.name}}
{{else}}
   <div class="{{if isInvalidHostname 'has-error'}}">
      {{input type="text" maxlength="55" value=host.name class='form-control' key-up='saveHostname' id=cssHostHostId data-qci=cssHostHostId}}
      {{#if isInvalidHostname}}
        <span class="error errorForValidation invalid-rhev-hostname">
          <i class="fa fa-warning"></i> Hostname is invalid.
        </span>
      {{/if}}
   </div>
{{/if}}
