<div class='row'>
  <div class='col-md-9'>
    <p>
      Select the setup type.
    </p>

    <div class='ident-radio'>
      {{#radio-button value="selfhost" groupValue=rhevSetup changed="rhevSetupChanged" id='selfhost' disabled=isStarted}}
          Self-hosted
      {{/radio-button}}
    </div>

    <div class='ident-radio'>
      {{#radio-button value="rhevhost" groupValue=rhevSetup changed="rhevSetupChanged" id='rhevhost' disabled=isStarted}}
      <span class="{{if isStarted 'disabled'}}">
        Hypervisor + engine
      </span>
      {{/radio-button}}
    </div>

  </div>
</div>

<br />

{{cancel-back-next backRouteName='satellite.access-insights'
                   disableBack=false
                   nextRouteName=setupNextRouteName
                   disableNext=false
                   disableCancel=isStarted
                   deploymentName=deploymentName}}

