<div class="row tabbed_side_nav_form">

  <ul class="nav nav-pills nav-stacked col-md-3">

      {{#link-to 'rhev-setup' tagName='li'}}
        <a>2A. Setup Type</a>
      {{/link-to}}

      {{#link-to 'engine' tagName='li'}}
        <a>2B. {{engineTabName}}</a>
      {{/link-to}}

      {{#unless isSelfHost}}
      {{#link-to 'hypervisor' tagName='li'}}
        <a>2C. Hypervisors</a>
      {{/link-to}}
      {{/unless}}

      {{#link-to 'rhev-options' tagName='li'}}
        <a>2D. Configuration</a>
      {{/link-to}}

      {{#link-to 'storage' tagName='li'}}
        <a>2E. Storage</a>
      {{/link-to}}
  </ul>

  <div class="tab-content col-md-9">
      {{outlet}}
  </div>

</div>

