{{#wizard-step outlet=outlet}}

      {{#link-to 'rhev-setup' tagName='li' disabled=disableTabRhevSetupType}}
        <a>
          <span class="hanging-indent">
            2A. Setup Type
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'engine.discovered-host' tagName='li' disabled=disableTabRhevEngine}}
        <a>
          <span class="hanging-indent">
            2B. {{engineTabName}}
          </span>
        </a>
      {{/link-to}}

      {{#unless isSelfHost}}
      {{#link-to 'hypervisor.discovered-host' tagName='li' disabled=disableTabRhevHypervisors}}
        <a>
          <span class="hanging-indent">
            2C. Hypervisors
          </span>
        </a>
      {{/link-to}}
      {{/unless}}

      {{#link-to 'rhev-options' tagName='li' disabled=disableTabRhevConfiguration}}
        <a>
          <span class="hanging-indent">
            {{if isSelfHost '2C' '2D'}}. Configuration
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'storage' tagName='li' disabled=disableTabRhevStorage}}
        <a>
          <span class="hanging-indent">
            {{if isSelfHost '2D' '2E'}}. Storage
          </span>
        </a>
      {{/link-to}}

{{/wizard-step}}
