{{#wizard-step outlet=outlet}}

      {{#link-to satelliteTabRouteName tagName='li' disabled=disableTabDeploymentName}}
        <a>
          <span class="hanging-indent">
            1A. Deployment Name
          </span>
        </a>
      {{/link-to}}

      {{#link-to lifecycleEnvironmentTabRouteName tagName='li' disabled=disableTabLifecycleEnvironment}}
        <a>
          <span class="hanging-indent">
            1B. Update Availability
          </span>
        </a>
      {{/link-to}}

      {{#link-to 'satellite.access-insights' tagName='li' disabled=disableTabAccessInsights}}
        <a>
          <span class="hanging-indent">
            1C. Insights
          </span>
        </a>
      {{/link-to}}

{{/wizard-step}}
