{{#wizard-step outlet=outlet}}

      {{#link-to satelliteTabRouteName tagName='li' disabled=disableTabDeploymentName}}
        <a>1A. Deployment Name</a>
      {{/link-to}}

      {{#link-to lifecycleEnvironmentTabRouteName tagName='li' disabled=disableTabLifecycleEnvironment}}
        <a>1B. Configure Lifecycle Environment</a>
      {{/link-to}}

      {{#link-to 'satellite.access-insights' tagName='li' disabled=disableTabAccessInsights}}
        <a>1C. Insights</a>
      {{/link-to}}

{{/wizard-step}}
