<div class="row tabbed_side_nav_form">
  <ul class="nav nav-pills nav-stacked col-md-3">
     {{#link-to satelliteTabRouteName tagName='li' disabled=disableTabDeploymentName}}
        <a>1A. Deployment Name</a>
      {{/link-to}}
      {{#link-to organizationTabRouteName tagName='li' disabled=disableTabConfigureOrganization}}
        <a>1B. Configure Organization</a>
      {{/link-to}}
      {{#link-to lifecycleEnvironmentTabRouteName tagName='li' disabled=disableTabLifecycleEnvironment}}
        <a>1C. Configure Lifecycle Environment</a>
      {{/link-to}}
  </ul>

  <div class="tab-content col-md-9">
      {{outlet}}
  </div>

</div>
