<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      Select a product to create and manage virtual machines.
      <h3>
        {{#unless disableRHEV}}
          {{#radio-button value="RHEV" groupValue=cfme_install_loc changed="cfmeLocationChanged" id="install_on_rhev"}}
            Install CloudForms on Red Hat Enterprise Virtualization
          {{/radio-button}}
        {{/unless}}
      </h3>
    </div>

    <div class='row'>
      <h3>
        {{#unless disableOpenStack}}
          {{#radio-button value="OpenStack" groupValue=cfme_install_loc changed="cfmeLocationChanged" id="install_on_openstack"}}
            Install CloudForms on OpenStack<br />
            Able to split virtualization workloads across multiple controller nodes
          {{/radio-button}}
        {{/unless}}
      </h3>
    </div>

  </div>
</div>

<div class='pull-right'>
  <br />
  {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
  {{#link-to 'subscriptions.credentials' class='btn btn-primary'}}Next{{/link-to}}
</div>