<div class='row'>
  <div class='col-md-9'>

    <p>
      Select a product to create and manage virtual machines.
    </p>

    <div class='ident-radio'>
      {{#radio-button value="RHEV" groupValue=cfme_install_loc changed="cfmeLocationChanged" id="install_on_rhev" disabled=disableRHEV}}
        <span {{bind-attr class="disableRHEV:disabled"}}>
          Install CloudForms on Red Hat Enterprise Virtualization
        </span>
      {{/radio-button}}
    </div>

    <div class='ident-radio'>
      {{#radio-button value="OpenStack" groupValue=cfme_install_loc changed="cfmeLocationChanged" id="install_on_openstack" disabled=disableOpenStack}}
        <span {{bind-attr class=":inline-block disableOpenStack:disabled"}}>
          Install CloudForms on OpenStack<br />
          &nbsp;&nbsp;&nbsp;&nbsp;Able to split virtualization workloads across multiple controller nodes
        </span>
      {{/radio-button}}
    </div>

  </div>
</div>

{{cancel-back-next backRouteName=backRouteName
                   disableBack=false
                   nextRouteName='cloudforms.cfme-configuration'
                   disableNext=false}}
