<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      <h3>{{radio-button-f checked=whereInstallCf value="onOpenstack" label='Cloudforms on Openstack'}}</h3>
      <div class='col-md-offset-1'>
        this means explanation text .....
      </div>
    </div>

    <div class='row'>
      <h3>{{radio-button-f checked=whereInstallCf value="onRhev" label='Cloudforms on RHEV'}}</h3>
      <div class='col-md-offset-1'>
        this means explanation text .....
      </div>
    </div>

  </div>
</div>
