{{!cfme_install_loc}}
<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      Select the location where to install CloudForms.
      <h3>
        {{#unless disableRHEV}}
          {{#radio-button value="RHEV" groupValue=cfme_install_loc changed="cfmeLocationChanged"}}
            Install on RHEV
          {{/radio-button}}
        {{/unless}}
    </div>

    <div class='row'>
      <h3>
        {{#unless disableOpenStack}}
          {{#radio-button value="OpenStack" groupValue=cfme_install_loc changed="cfmeLocationChanged"}}
            Install on OpenStack
          {{/radio-button}}
        {{/unless}}
    </div>

  </div>
</div>

    <div class='pull-right'>
      <br />
      {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
      {{#link-to 'subscriptions.credentials' class='btn btn-primary'}}Next{{/link-to}}
    </div>