<div class='row'>
  <div class='col-md-8 col-md-offset-1'>

    <div class='row'>
      <h3>{{radio-button-f checked=whereInstallCf value="onOpenstack" label='Install on RHEV'}}</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

    <div class='row'>
      <h3>{{radio-button-f checked=whereInstallCf value="onRhev" label='Install on OpenStack'}}</h3>
      <div class='col-md-offset-1'>
      </div>
    </div>

  </div>
</div>
