<%= stylesheet('fusor_ui/fusor-ember-cli') %>

<%= javascript('fusor_ui/vendor') %>
<%= javascript('fusor_ui/fusor-ember-cli') %>

<%= content_for(:title, _("QuickStart Cloud Installer")) %>

<div id='ember-app'>
</div>
