/* katello */
.path-selector {
  margin-top: 10px; }

.path-selector .path-list {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #d7d7d7; }

.path-selector .path-list .path-list-item {
  float: left;
  margin-left: 0;
  white-space: nowrap; }

.path-selector .path-list .path-list-item:first-child label {
  padding-left: 12px; }

.path-selector .path-list .path-list-item:last-child label {
  padding-right: 16px; }

.path-selector .path-list .path-list-item:last-child label:after {
  border: 0;
  border-left: 0px solid #e9e9e9; }

.path-selector .path-list .path-list-item label {
  color: black;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 12px 10px 12px 30px;
  position: relative;
  background: #ffffff; }

.path-selector .path-list .path-list-item label.active {
  background: #00a8d6;
  color: white;
  text-shadow: 1px 1px #000; }

.path-selector .path-list .path-list-item label.active:after {
  border-left-color: #00a8d6; }

.path-selector .path-list .path-list-item label:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 15px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 100%;
  z-index: 102; }

.path-selector .path-list .path-list-item label:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 15px solid #d7d7d7;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  margin-left: 1px;
  left: 100%;
  z-index: 101; }

.path-selector .path-list .path-list-item label input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 1px; }

.path-selector .path-list .path-list-item.disabled-item input[type="checkbox"] {
  display: none; }

.path-selector {
  margin-top: 20px; }

.path-selector .path-list {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #d7d7d7; }

.path-selector .path-list .path-list-item {
  float: left;
  margin-left: 0;
  white-space: nowrap; }

.path-selector .path-list .path-list-item:first-child label {
  padding-left: 12px; }

.path-selector .path-list .path-list-item:last-child label {
  padding-right: 16px; }

.path-selector .path-list .path-list-item:last-child label:after {
  border: 0;
  border-left: 0px solid #e9e9e9; }

.path-selector .path-list .path-list-item label {
  color: black;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 12px 10px 12px 30px;
  position: relative;
  background: #ffffff; }

.path-selector .path-list .path-list-item label.active {
  background: #00a8d6;
  color: white;
  text-shadow: 1px 1px #000; }

.path-selector .path-list .path-list-item label.active:after {
  border-left-color: #00a8d6; }

.path-selector .path-list .path-list-item label:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 15px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 100%;
  z-index: 102; }

.path-selector .path-list .path-list-item label:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 15px solid #eee;
  /* JM changed this from #d7d7d7 to make lines */
  position: absolute;
  top: 50%;
  margin-top: -30px;
  margin-left: 1px;
  left: 100%;
  z-index: 101; }

.path-selector .path-list .path-list-item label input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 1px; }

.path-selector .path-list .path-list-item.disabled-item input[type="checkbox"] {
  display: none; }

/* custom.scss */
.rhci-footer {
  padding: 20px 10px 10px 10px;
  height: 60px; }

.rhci-footer-selected {
  background-color: #eee;
  /*#5cb85c*/
  vertical-align: middle; }

.rhci-footer-unselected {
  background-color: #eee; }

.rhci-footer-box {
  height: 100px; }

.rhci-footer-hover {
  padding: 15px 5px;
  text-align: center;
  background-color: #554d4d;
  /*#d9edf7;*/
  color: #fff;
  /* #31708f;*/
  font-size: 130%; }

i.fa-check {
  color: #0099d3; }

.rhci-install-footer {
  color: #0099d3;
  font-size: 130%; }

.rhci-item {
  background-color: #eee; }

.rhci-item-selected {
  border-bottom: solid 6px #0099d3; }

.subscriptions_needed {
  padding: 10px;
  border: solid 3px #ddd; }

.subscriptions_needed p {
  padding-top: 10px;
  padding-left: 12px; }

.rhci-item-text {
  padding: 10px; }

.highlight {
  background-color: yellow !important; }

.yellow {
  background-color: yellow !important; }

.green {
  background-color: green !important; }

.red {
  background-color: red !important; }

.blue {
  background-color: #428bca !important; }

.checkmark {
  font-size: 150%;
  text-align: center; }

a {
  cursor: pointer; }

li {
  cursor: pointer; }

td a.active {
  font-weight: bold;
  font-size: 120%;
  background-color: #eee; }

/* ACTIVE */
ul.path-list {
  margin: 0px;
  padding: 0px; }

label.env_path_active {
  background: #00a8d6 !important;
  color: #fff !important; }

label.env_path_active:after {
  border-left: 15px solid #00a8d6 !important; }

label.env_path_disabled {
  background: #999 !important;
  color: #fff !important; }

label.env_path_disabled:after {
  border-left: 15px solid #999 !important; }

.green-circle {
  color: green; }

.errorForValidation {
  color: red; }

.errorForValidation a {
  color: red; }

.defaultValue {
  color: #999; }

.defaultValue a {
  color: #999; }

.deployment_name {
  display: inline; }

.gray .grey {
  background-color: #ddd !important; }

.progress-bar-label {
  font-weight: bold; }

.no-bold {
  font-weight: normal !important; }

th {
  padding-left: 10px; }

.default_org_view {
  border: 1px solid #d7d7d7;
  padding: 10px;
  display: inline-block; }

.center {
  text-align: center; }

.white-on-blue {
  background: #00a8d6;
  color: #fff; }

.black-font {
  color: #000 !important; }

li.disabled a {
  color: #999 !important; }

.disabled {
  color: #999 !important; }

.no_subscriptions {
  text-align: center;
  padding: 10px 0px 5px; }

.disabledImage {
  opacity: 0.5; }

.ident-radio {
  padding-left: 15px; }

.spinner-text {
  font-size: 20px; }

.rhev-searchbar {
  background-color: #f6f6f6;
  padding: 5px 0px;
  border-top: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  margin-right: 1px; }

.rhev-search-box {
  margin-left: -15px; }

.not-selected {
  font-style: italic;
  color: #555 !important; }

.rhev-search-button {
  display: inline;
  margin-left: -3px; }

table.fusor-table {
  table-layout: fixed; }

.rhev-checkbox {
  width: 3%; }

.rhev-hostname {
  width: 20%; }

.rhev-memory {
  width: 5%; }

.rhev-disks {
  width: 5%; }

.rhev-cpu {
  width: 5%; }

.rhev-diskspace {
  width: 7%; }

.rhev-network {
  width: 20%; }

.rhev-select-all {
  padding: 0px 20px; }

.prepend-host-names {
  padding: 0 2px 0 35px; }

.org-radio-btn {
  width: 3%; }

.accordion-item {
  padding-bottom: 10px; }

.invalid-input {
  border: 2px solid red; }

.rhci-steps > li > a.active {
  text-decoration: none; }

/* wizard.scss */
.rhci-parent-sidebar {
  display: webkit-box;
  display: webkit-flex;
  display: ms-flexbox;
  display: flex;
  padding-bottom: 5px; }

.rhci-steps {
  color: #999999;
  font-size: 15px;
  float: left;
  list-style-position: inside;
  margin: 0 0 10px -20px;
  padding: 0;
  position: relative; }

.rhci-steps li {
  float: left;
  margin: 0;
  padding: 30px 20px 0;
  position: relative; }

.rhci-steps li:after {
  background: #d0d0d0;
  border-radius: 20px;
  content: '';
  height: 8px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 16px;
  width: 8px; }

.rhci-steps li:before {
  border-top: 1px solid #d0d0d0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%; }

.rhci-steps li:last-child:before {
  width: 50%; }

.rhci-steps li.active {
  color: #0099d3; }

.rhci-steps li.active:after {
  background-color: #0099d3; }

.rhci-steps li.completed {
  color: #555555; }

.rhci-steps li.completed:after {
  background-color: #999999; }

.rhci-steps li.completed a {
  color: #555555;
  padding-top: 20px; }

.rhci-steps li.completed a:hover {
  text-decoration: none; }

.rhci-steps li.future a {
  color: #999999; }

.rhci-steps-buttons {
  border-top: 1px solid #d0d0d0;
  text-align: right;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px; }

.rhci-steps-buttons .btn {
  margin-left: 5px; }

.rhci-steps-buttons .btn > .fa-angle-left {
  margin-right: 5px; }

.rhci-steps-buttons .btn > .fa-angle-right {
  margin-left: 5px; }

.rhci-page {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-left: -2px; }

.sidebar-pf-left {
  border: 1px solid #d0d0d0;
  background-color: #f5f5f5; }

.sidebar-pf .nav-stacked {
  margin-top: 0px; }

/*@import "openstack";*/