Enter your Red Hat account information.

<div class='row'>
  <div class='col-md-12'>
    <br />
    <form class="form form-horizontal">
      {{text-f label="Username" value=username}}
      {{text-f label="Password" value=password type='password'}}

        {{#base-f}}
          <a href='https://www.redhat.com/wapps/sso/lostPassword.html' target='_blank'>
          Forgot username or password?
          </a>
        {{/base-f}}
    </form>
  </div>
</div>

    <br />
    <br />
    <div style='float:right'>
      <button {{action 'showModal' 'cancelDeploymentModal'}} class='btn btn-default'>Cancel</button>
      {{#link-to 'subscriptions.select-subscriptions' class='btn btn-primary' disabled=disableCredentialsNext}}Next{{/link-to}}
    </div>



