<div class="row">
  <div class='col-md-9'>

    <table class="table table-bordered small">
      <thead>
        <tr>
          <th> Subscription Name </th>
          <th> Contract Number </th>
          <th class="text-center"> Start Date </th>
          <th class="text-center"> End Date </th>
          <th class="text-center"> Quantity Attached </th>
          <th class="text-center"> Total Quantity </th>
        </tr>
        </thead>

      <tbody>
      {{#each model as |subscription|}}
          {{tr-subscription-manifest subscription=subscription}}
      {{else}}
        <tr>
          <td colspan="8">
            <p class='no_subscriptions'>
              <h3> No subscriptions found in uploaded manifest</h3>
            </p>
          </td>
        </tr>
      {{/each}}

      </tbody>
    </table>

  </div>
</div>

{{cancel-back-next backRouteName='subscriptions.credentials'
                   disableBack=false
                   nextRouteName='review'
                   disableNext=false
                   disableCancel=isStarted
                   deploymentName=deploymentName}}
