// Colors
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: white;

$navbar-default-link-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: white;

$dropdown-link-color: #333333;
$dropdown-link-active-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: #0088cc;

$primary_color: #393F44;
$border_color: #5F666C;
$brand_color: #CC0000;

$primary_gradient_start: #474C51;
$primary_gradient_end: #393F44;

$selected_gradient_start: #72757A;
$selected_gradient_end: #64686C;

$hover_gradient_start: #5c6165;
$hover_gradient_end: #4b5053;