<div class="row">
  <div class='col-md-9'>
    <form class="form-horizontal" role="form">

      {{text-f label="Name" value=model.name inputSize='col-md-5' errors=errors cssId=idSatName
               isRequired=true disabled=controllers.application.deploymentIsStarted}}

      {{textarea-f label="Description (Optional)" value=model.description inputSize='col-md-5' cssId=idSatDesc
                   disabled=controllers.application.deploymentIsStarted }}

    </form>
  </div>
</div>
{{cancel-back-next backRouteName=backRouteNameOnSatIndex
                   disableBack=false
                   nextRouteName=organizationTabRouteName
                   disableNext=disableNextOnDeploymentName
                   parentController=controller
                   disableCancel=controllers.application.deploymentIsStarted}}



