<div class="row">
  <div class='col-md-9'>
    <br />
    <form class="form-horizontal" role="form">

      {{text-f label="Name" value=name inputSize='col-md-5' errors=errors cssId=idSatName isRequired=true}}

      {{textarea-f label="Description (Optional)" value=description inputSize='col-md-5' cssId=idSatDesc}}

    </form>
  </div>
</div>

{{cancel-back-next backRouteName=''
                   disableBack=true
                   nextRouteName=organizationTabRouteName
                   disableNext=disableNextOnDeploymentName
                   parentController=controller}}



